@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.burger__link {
  display: block;
  margin-top: 32px;
  line-height: 11px;

  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}

.is_active {
  color: $primary-color;
  position: relative;
}
