$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-bg-color: #fafbfc;
$white-color: #ffffff;
$green-color: #27ae60;
$red-color: #eb5757;

$header-height-mobile: 48px;
$header-height-desktop: 64px;
$footer-height-mobile: 257px;
$footer-height-tablet: 96px;
$main-height-mobile: calc(
  100vh - #{$header-height-mobile + $footer-height-mobile}
);
$main-height-tablet: calc(
  100vh - #{$header-height-mobile + $footer-height-tablet}
);
$main-height-desktop: calc(
  100vh - #{$header-height-desktop + $footer-height-tablet}
);
