@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.title {
  font-weight: 700;
  font-size: 32px;
  color: $primary-color;
  margin-bottom: 8px;

  @include onTablet {
    font-size: 48px;
  }
}
