@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.title {
  font-weight: 700;
  font-size: 32px;
  color: $primary-color;
  margin-bottom: 8px;

  @include onTablet {
    font-size: 48px;
  }
}

.items-amount {
  font-weight: 600;
  font-size: 14px;
  color: $secondary-color;
  margin-bottom: 32px;

  @include onTablet {
    margin-bottom: 40px;
  }
}
