.container {
  margin-bottom: 50px;
}

.top_panel {
  display: flex;
  justify-content: space-between;
}

.buttons{
  display: flex;
}

.slick-dots li:nth-child(1) button:before{
  background: url("../../assets/img/home.svg") no-repeat;
  background-size: contain!important;
}
