@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  height: 48px;
  box-shadow: 0px 1px $elements-color;
  background-color: $white-color;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    height: 64px;
    margin-bottom: 56px;
  }
}

.nav {
  display: flex;

  &__logo {
    padding-left: 16px;
    padding-right: 16px;

    &__image {
      height: 20px;
      width: 64px;

      @include onDesktop {
        height: 26px;
        width: 80px;
      }
    }
  }

  &__list {
    display: flex;

    @media (max-width: 639px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    padding-left: 32px;

    line-height: 11px;
    font-size: 12px;
    font-weight: 800;

    @include onDesktop {
      padding-left: 64px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: $secondary-color;

    &:hover {
      color: $primary-color;
    }
  }
}

.is_active {
  color: $primary-color;
  position: relative;

  &::after {
    content: '';

    position: absolute;
    display: block;
    top: 135%;

    height: 2px;
    width: 100%;

    background-color: $primary-color;

    @include onDesktop {
      top: 145%;
    }
  }
}

.nav__is_active::after {
  top: 35px;
  height: 3px;

  @include onDesktop {
    top: 45px;
  }
}

.icon {
  display: flex;
  position: relative;
}

.icon__action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-left: 1px solid $elements-color;
  transition: all 0.1s;
  border: 1px solid #e2e6e9;
  border-bottom-color: transparent;

  &:hover {
    border: 1px solid $primary-color;
  }

  @media (max-width: 639px) {
    display: none;
  }

  @include onDesktop {
    width: 64px;
    height: 64px;
  }
}

.favorites_counter {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 18px;
  right: 18px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid $white-color;
  background-color: $red-color;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: $white-color;

  @include onTablet {
    top: 10px;
    right: 58%;
  }

  @include onDesktop {
    top: 18px;
    right: 63%;
  }
}

.cart_counter {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 18px;
  right: 18px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid $white-color;
  background-color: $red-color;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: $white-color;

  @include onTablet {
    top: 10px;
    right: 10px;
  }

  @include onDesktop {
    top: 18px;
    right: 18px;
  }
}
