@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  height: 48px;
  box-shadow: 0px 1px $elements-color;
  background-color: $white-color;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    height: 64px;
    margin-bottom: 56px;
  }
}

.is_active_icons {
  color: $primary-color;
  position: relative;

  &::after {
    content: '';

    position: absolute;
    display: block;
    top: 135%;

    height: 2px;
    width: 100%;

    background-color: $primary-color;

    @include onTablet {
      top: 96%;
    }
    @include onDesktop {
      top: 97%;
    }
  }
}

.nav__is_active::after {
  top: 35px;
  height: 3px;

  @include onDesktop {
    top: 45px;
  }
}

.icon {
  display: flex;
  position: relative;
}

.icon__is_active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid $primary-color;

  @include onDesktop {
    top: 20px;
  }
}

.icon__action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-left: 1px solid $elements-color;
  transition: all 0.1s;
  border: 1px solid #e2e6e9;
  border-bottom-color: transparent;

  &:hover {
    border: 1px solid $primary-color;
  }

  @media (max-width: 639px) {
    display: none;
  }

  @include onDesktop {
    width: 64px;
    height: 64px;
  }
}

.favorites_counter {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 18px;
  right: 18px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid $white-color;
  background-color: $red-color;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: $white-color;

  @include onTablet {
    top: 10px;
    right: 18%;
  }

  @include onDesktop {
    top: 18px;
    right: 26%;
  }
}

.cart_counter {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 18px;
  right: 18px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid $white-color;
  background-color: $red-color;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: $white-color;

  @include onTablet {
    top: 10px;
    right: 10px;
  }

  @include onDesktop {
    top: 18px;
    right: 18px;
  }
}
