@import '../../styles/mixins.scss';

.container {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}

.image {
  display: block;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
