@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  height: 257px;

  @include onTablet {
    height: 96px;
  }

  border-top: 1px solid $elements-color;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;

  @include onTablet {
    padding: 32px 24px;
  }

  @include onDesktop {
    padding: 32px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  font-size: 12px;
  font-weight: 800;
  color: $secondary-color;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    cursor: pointer;
  }

  &_list {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 16px;

    @include onTablet {
      gap: 16px;
      flex-direction: row;
    }

    @include onDesktop {
      gap: 100px;
      flex-direction: row;
    }
  }

  &_link {
    color: $secondary-color;
  }

  &_top_button {
    display: flex;
    align-items: center;
    gap: 16px;



  }

  &_top_title {
    padding: 7px 0;
    cursor: pointer;
  }

  &_arrow_up {
    height: 32px;
    width: 32px;
    display: inline-block;

    border: none;
    background: url('../../../public/img/buttons/slider_button_default_up.svg')
      no-repeat;
    transform: rotate(90);
    cursor: pointer;


    transition: all 0.3s;

    &:hover {
      background: url('../../../public/img/buttons/slider_button_hover_up.svg')
        no-repeat;
    }
  }
}
