@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.home_slider {
  margin-bottom: 66px;

  @include onTablet {
    margin-bottom: 74px;
  }

  @include onDesktop {
    margin-bottom: 92px;
  }
}

.container {
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
}

.button {
  display: none;
  justify-content: center;
  width: 32px;
  padding: 0 10px;

  @include onTablet {
    display: flex;
  }

  cursor: pointer;
  border: 1px solid $elements-color;
  transition: all 0.3s;

  &:hover {
    border: 1px solid $primary-color;
  }
}
