@import 'styles/fonts';
@import 'styles/normalize';
@import 'styles/variables';
@import 'styles/mixins';

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}
