@import 'styles/fonts';
@import 'styles/normalize';
@import 'styles/variables';
@import 'styles/mixins';

.container {
  min-height: $main-height-mobile;

  @include onTablet {
    min-height: $main-height-tablet;
  }

  @include onDesktop {
    min-height: $main-height-desktop;
  }
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}
