@import './styles/fonts.scss';
@import './styles/variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Mont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
