@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}

.home_slider_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}

.title {
  font-size: 32px;
  line-height: 41px;
  font-weight: 800;
  color: $primary-color;
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 56px;
  }

  @include onDesktop {
    margin-bottom: 56px;
  }
}
